<% include ./partials/header %>

<div class="row">
    <div class="col-md-12">
        <form class="form-signin" action="/register" method="post">
          <h1 class="h1 mb-3 font-weight-strong">Please Sign up</h1>
          
          <label for="inputEmail" class="sr-only">Username</label>
          <input type="text" id="inputUsername" class="form-control" name="username" placeholder="Username" required autofocus>
          
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
          
          <label for="inputEmail" class="sr-only">Email</label>
          <input type="text" id="inputEmail" class="form-control" name="email" placeholder="janez.kranjc@gmail.com" required autofocus>
          
          <label for="inputEmail" class="sr-only">First Name</label>
          <input type="text" id="inputFirstName" class="form-control" name="firstname" placeholder="Firstname" autofocus>
          
          <label for="inputEmail" class="sr-only">Last Name</label>
          <input type="text" id="inputLastName" class="form-control" name="lastname" placeholder="Lastname" autofocus>
          
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up!</button>
        </form>
        <form class="form-signin">
            <a href="/database">Go Back</a>
        </form>
    </div>
</div>
<% include ./partials/footer %>